<div id="user-info">
    
	<h2>user-info</h2>

	<div>
		<lable for="firstName">First Name</lable>
		<input type="text" id="firstName" data-bind="value:firstName"/>
	</div>

	<div>
		<lable for="firstName">Last Name</lable>
		<input type="text" id="lastName" data-bind="value:lastName"/>
	</div>

	<div>
		<lable for="city">City</lable>
		<input type="text" id="city" data-bind="value:city" data-max="3"/>
	</div>
	
	<br/>

	<div>
		<input type="submit" class="btn btn-info" value="Add" />
	</div>
</div>
